*{
  margin: 0;
  padding: 0;
}
.navul{
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}
.navul li{
  list-style: none;
}
/* Home.jsx css hear */
.contaner{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* background-color:#ced4da; */
padding-top: 12px;

}